<?xml version="1.0"?>
<DbSnapAppConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AppDbSnap>true</AppDbSnap>
  <WriteWaitTime>1</WriteWaitTime>
  <LoadBalanceScheduling>RoundRobinScheduling</LoadBalanceScheduling> --WeightedRoundRobinScheduling
  <RecordeLog>false</RecordeLog>
  <DbSnapInfoList>
    <DbSnapInfo>
      <SouceID>1</SouceID>
      <Enable>true</Enable>
      <DbconnectString>Data Source=DAIZHJ\DNT_DAIZHJ;User ID=sa;Password=123123;Initial Catalog=dnt_snap;Pooling=true</DbconnectString>
      <Weight>4</Weight>
    </DbSnapInfo>
    <DbSnapInfo>
      <SouceID>2</SouceID>
      <Enable>true</Enable>
      <DbconnectString>Data Source=DAIZHJ-PC\2222;User ID=sa;Password=123;Initial Catalog=tabletest;Pooling=true</DbconnectString>
      <Weight>3</Weight>
    </DbSnapInfo>
    <DbSnapInfo>
      <SouceID>3</SouceID>
      <Enable>true</Enable>
      <DbconnectString>Data Source=DAIZHJ-PC\333333;User ID=sa;Password=123;Initial Catalog=tabletest;Pooling=true</DbconnectString>
      <Weight>2</Weight>
    </DbSnapInfo>
    <DbSnapInfo>
      <SouceID>4</SouceID>
      <Enable>true</Enable>
      <DbconnectString>Data Source=DAIZHJ-PC\44444444;User ID=sa;Password=123;Initial Catalog=tabletest;Pooling=true</DbconnectString>
      <Weight>2</Weight>
    </DbSnapInfo>
  </DbSnapInfoList>
</DbSnapAppConfig>