<?xml version="1.0"?>
<LoadBalanceConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AppLoadBalance>true</AppLoadBalance>
  <SiteUrl>http://10.0.2.137:8088/tools/,http://10.0.2.150:8088/tools/,http://10.0.2.136:8088/tools/</SiteUrl>
  <!--<SiteUrl>http://localhost:4335/tools/</SiteUrl>-->
  <AuthCode>123123</AuthCode>
  <RecordPageView>true</RecordPageView>
</LoadBalanceConfigInfo>