<?xml version="1.0"?>
<MemCachedConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ApplyMemCached>true</ApplyMemCached>
  <ServerList>10.0.4.107:11211,10.0.4.107:11212</ServerList>
  <PoolName>DiscuzNT_MemCache</PoolName>
  <IntConnections>128</IntConnections>
  <MinConnections>128</MinConnections>
  <MaxConnections>512</MaxConnections>
  <SocketConnectTimeout>2000</SocketConnectTimeout>
  <SocketTimeout>3000</SocketTimeout>
  <MaintenanceSleep>30000</MaintenanceSleep>
  <FailOver>true</FailOver>
  <Nagle>true</Nagle>
  <!--缓存帖子列表分页数(showtopic页数使用缓存前N页的帖子列表信息)-->
  <CacheShowTopicPageNumber>3</CacheShowTopicPageNumber>
  <!--缓存showforum页面分页数-->
  <CacheShowForumPageNumber>5</CacheShowForumPageNumber>
  <!--缓存showforum页面时间(单位:分钟)-->
  <CacheShowForumCacheTime>10</CacheShowForumCacheTime>
  <!--缓存帖子列表分页数(showtopic页数使用)-->
  <LocalCacheTime>180</LocalCacheTime>
  <!--本地缓存时间,单位:秒-->
  <RecordeLog>false</RecordeLog>
  <!--Native,OldCompatibleHash,NewCompatibleHash,KetamaHash-->
  <HashingAlgorithm>NewCompatibleHash</HashingAlgorithm>
</MemCachedConfigInfo>