<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="Discuz.EntLib.RabbitMQ.Logs.SendShortMsgServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="Discuz.EntLib.RabbitMQ.Logs.SendShortMsgServiceBehavior"
                name="Discuz.EntLib.RabbitMQ.Logs.SendShortMsgService">
                <endpoint address="" binding="wsHttpBinding" contract="Discuz.EntLib.RabbitMQ.Logs.ISendShortMsgService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/Discuz.EntLib.RabbitMQ.Logs/SendShortMsgService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
