<?xml version="1.0"?>
<EntLibConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Sphinxconfig>
    <MySqlConn>Data Source=10.0.4.110;User ID=root;Password=root;Initial Catalog=dnt;Pooling=true;Allow Zero Datetime=true</MySqlConn>
    <Enable>false</Enable>
    <SphinxServiceHost>10.0.4.66</SphinxServiceHost>
    <SphinxServicePort>3312</SphinxServicePort>
    <IndexSectionName></IndexSectionName>
    <SphClientTimeOut>10000</SphClientTimeOut>
    <!--单位:毫秒-->
  </Sphinxconfig>
  <Onlinetableconnect>
    <!--在开启该功能之前，请确保在相应数据库中已有相应的在线表和存储过程-->
    <SqlServerConn>Data Source=10.0.8.14;User ID=sa;Password=123;Initial Catalog=dnt_online;Pooling=true</SqlServerConn>
    <Enable>false</Enable>
  </Onlinetableconnect>
  <Cacheonlineuser>
    <!--在开启该功能之前，请确保相关服务已配置完毕-->
    <Host>10.0.4.107</Host>
    <Port>27017</Port>
    <Enable>false</Enable>
    <PoolName>dnt_online</PoolName>
    <IntConnections>128</IntConnections>
    <MinConnections>128</MinConnections>
    <MaxConnections>2048</MaxConnections>
    <MaxIdle>30000</MaxIdle>
    <MaxBusy>5000</MaxBusy>
    <MaintenanceSleep>300000</MaintenanceSleep>
    <TcpClientTimeout>300000</TcpClientTimeout>
    <TcpClientConnectTimeout>30000</TcpClientConnectTimeout>
    <CacheType>1</CacheType>
    <Username>daizhj</Username>
    <Password>617595</Password>
  </Cacheonlineuser>
  <Cacheusers>
    <!--在开启该功能之前，请确保相关服务已配置完毕-->
    <Host>10.0.4.85</Host>
    <Port>27017</Port>
    <Enable>false</Enable>
    <PoolName>dnt_users</PoolName>
    <IntConnections>128</IntConnections>
    <MinConnections>128</MinConnections>
    <MaxConnections>2048</MaxConnections>
    <MaxIdle>30000</MaxIdle>
    <MaxBusy>5000</MaxBusy>
    <MaintenanceSleep>300000</MaintenanceSleep>
    <TcpClientTimeout>300000</TcpClientTimeout>
    <TcpClientConnectTimeout>30000</TcpClientConnectTimeout>
    <CacheType>1</CacheType>
    <Username></Username>
    <Password></Password>
  </Cacheusers>
  <Cachetopics>
    <!--在开启该功能之前，请确保相关服务已配置完毕-->
    <Host>127.0.0.1</Host>
    <Port>27017</Port>
    <Enable>false</Enable>
    <PoolName>dnt_topics</PoolName>
    <IntConnections>512</IntConnections>
    <MinConnections>512</MinConnections>
    <MaxConnections>6144</MaxConnections>
    <MaxIdle>30000</MaxIdle>
    <MaxBusy>5000</MaxBusy>
    <MaintenanceSleep>300000</MaintenanceSleep>
    <TcpClientTimeout>300000</TcpClientTimeout>
    <TcpClientConnectTimeout>30000</TcpClientConnectTimeout>
    <CacheTopicNumber>2</CacheTopicNumber>
    <CacheType>1</CacheType>
    <Username></Username>
    <Password></Password>
  </Cachetopics>
  <Cacheposts>
    <!--在开启该功能之前，请确保相关服务已配置完毕-->
    <Host>10.0.4.85</Host>
    <Port>27017</Port>
    <Enable>false</Enable>
    <PoolName>dnt_posts</PoolName>
    <IntConnections>512</IntConnections>
    <MinConnections>512</MinConnections>
    <MaxConnections>6144</MaxConnections>
    <MaxIdle>30000</MaxIdle>
    <MaxBusy>5000</MaxBusy>
    <MaintenanceSleep>300000</MaintenanceSleep>
    <TcpClientTimeout>300000</TcpClientTimeout>
    <TcpClientConnectTimeout>30000</TcpClientConnectTimeout>
    <CacheType>1</CacheType>
    <Username></Username>
    <Password></Password>
  </Cacheposts>
  <Cacheattachments>
    <!--在开启该功能之前，请确保相关服务已配置完毕-->
    <Host>127.0.0.1</Host>
    <Port>27017</Port>
    <Enable>false</Enable>
    <PoolName>dnt_attachments</PoolName>
    <IntConnections>128</IntConnections>
    <MinConnections>128</MinConnections>
    <MaxConnections>2048</MaxConnections>
    <MaxIdle>30000</MaxIdle>
    <MaxBusy>5000</MaxBusy>
    <MaintenanceSleep>300000</MaintenanceSleep>
    <TcpClientTimeout>300000</TcpClientTimeout>
    <TcpClientConnectTimeout>30000</TcpClientConnectTimeout>
    <CacheType>1</CacheType>
    <Username></Username>
    <Password></Password>
  </Cacheattachments>
  <Medaldir />
  <Topicidentifydir />
  <Jsdir />
  <Posticondir></Posticondir>
  <Attachmentdir></Attachmentdir>
  <!---http://nt.discuz.net:8089/images/posticons-->
  <Cacheattachfiles>
    <!--在开启该功能之前，请确保相关服务已配置完毕-->
    <Host>10.0.4.85</Host>
    <Port>27021</Port>
    <Enable>false</Enable>
    <PoolName>attachments_files</PoolName>
    <IntConnections>128</IntConnections>
    <MinConnections>128</MinConnections>
    <MaxConnections>2048</MaxConnections>
    <MaxIdle>30000</MaxIdle>
    <MaxBusy>5000</MaxBusy>
    <MaintenanceSleep>300000</MaintenanceSleep>
    <TcpClientTimeout>300000</TcpClientTimeout>
    <TcpClientConnectTimeout>30000</TcpClientConnectTimeout>
    <CacheType>1</CacheType>
    <Attachpostid>348</Attachpostid>
    <Username></Username>
    <Password></Password>
  </Cacheattachfiles>
  <SysLogs>
    <!--在开启该功能之前，请确保相关服务已配置完毕-->
    <Host>10.0.4.85</Host>
    <Port>27017</Port>
    <Enable>false</Enable>
    <PoolName>dnt_logs</PoolName>
    <IntConnections>512</IntConnections>
    <MinConnections>512</MinConnections>
    <MaxConnections>6144</MaxConnections>
    <MaxIdle>30000</MaxIdle>
    <MaxBusy>5000</MaxBusy>
    <MaintenanceSleep>300000</MaintenanceSleep>
    <TcpClientTimeout>300000</TcpClientTimeout>
    <TcpClientConnectTimeout>30000</TcpClientConnectTimeout>
    <Username></Username>
    <Password></Password>
  </SysLogs>
</EntLibConfigInfo>