<?xml version="1.0"?>
<LoadBalanceConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AppLoadBalance>true</AppLoadBalance>
  <SiteUrl>http://192.168.0.1,http://192.168.0.2</SiteUrl>
  <AuthCode></AuthCode>
  <RecordPageView>false</RecordPageView>
</LoadBalanceConfigInfo>