<?xml version="1.0"?>
<ArrayOfAsyncSiteInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AsyncSiteInfo>
    <Apikey>d1e6efc5b5d27882beb12cacc0f67026</Apikey>
    <Security>27b9dbdbf5e6a834fb12f2058c270387</Security>
    <WebsiteUrl>http://10.0.4.121:81/</WebsiteUrl>
    <CallbackUrl>aaaaaaaaaaaaa</CallbackUrl>
    <AsyncUrl>aaaaaaaaaa</AsyncUrl>
    <AsyncList>aaaaaaaaaaaaaaa</AsyncList>
  </AsyncSiteInfo>
  <AsyncSiteInfo>
    <Apikey>c8aa0d02615551727680a1b7cb0254cf</Apikey>
    <Security>40b974ba5d0e5125781130793ede12e1</Security>
    <WebsiteUrl>http://10.0.4.98/</WebsiteUrl>
    <CallbackUrl>bbbbbbbbbbbbbbb</CallbackUrl>
    <AsyncUrl>bbbbbbbbbbbb</AsyncUrl>
    <AsyncList>bbbbbbbbbbbbbb</AsyncList>
  </AsyncSiteInfo>
</ArrayOfAsyncSiteInfo>