<?xml version="1.0"?>
<MainSiteInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Apikey>df0591a20f4ce833b961b1be0f747156</Apikey>
  <Security>99aafe460c920e9741704fd2099cbb7d</Security>
  <WebsiteUrl>http://localhost/</WebsiteUrl>
  <CallbackUrl>http://localhost:52030/asyncserver.aspx</CallbackUrl>
  <AsyncUrl>dsafdsaf</AsyncUrl>
  <AsyncList>dsafdsafdsaf</AsyncList>
</MainSiteInfo>